/*page top.php*/

header {
    background: #8f6bcae7;
    height: 150px;
    padding: 10px;
    text-align: center;
}

.titre {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 50px;
    margin: 20px;
}

.sous-titre {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #d4d4d4;
    font-size: 20px;
    margin: 20px;
}

/*page bottom.php*/

.bar-bottom {
    font-family: Rajdhani;
    font-size: 15px;
    display: flex;
    color: #000000;
    justify-content: space-evenly;
    background: #8f6bcae7;
}

.NomPrenom {
    color: #ffffff;
}

/*les autres pages*/

body {
    background: #8f6bcae7;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.menu-contenu {
    display: flex;
}

 /*partie menu*/

.menu {
    width: 640px;
    font-family: Rajdhani;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 40px;
    position: fixed;
}

.iconeMenu {
    color: #000000;
    font-weight: bold;
    padding-left: 20px;
}

.page {
    color: #ffffff;
}


.block {
    display: flex;
    align-items: center;
    padding: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
      color: #000000;
      text-decoration: none;
}

a:active {
    color: #ac3392
}

/*partie contenu*/

.profil, .parcours, .competences, .experiences {
    color: #000000;
    height: 750px;
}
/* tailles pas adaptée, si + de posts => augmenter la taille.... */
.contact {
    color: #000000;
    height: 1000px;
}

.contenu {
    color: #000000;
    opacity: 60%;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.texte {
    font-family: Questrial;
    margin: 90px;
    display: inline-table;
}


/* formulaire */
.container {
    font-family: 'Open Sans Condensed', sans-serif;
}

form {
    margin-left: 250px;
    margin-right: 250px;
}
  
button {
	font-family: inherit;
    font-size: inherit;
    padding: 6px 10px;
    margin-bottom: 100px;
}

textarea {
    vertical-align: top;
    height: 5em;
}

input, textarea {
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
	margin-bottom: 15px;
	padding: 6px 10px;
	box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

article.message {
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 5px;
}

.message {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: space-between;
    background-color: #ffffff;
}

h3 {
    color: black;
    font-family: 'IM Fell Great Primer SC', serif;
}

h4 {
    color: #ffffff;
    margin-bottom: 0px;
}

h5 {
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: right;
}